<h1> Ruby on Rails Developer Assignment</h1>

<%= link_to "List all Courses with tutors", courses_path %>
||
<%= link_to "Create new Course", new_course_path %>
||
<%= link_to "Create new tutor", new_tutor_path %>
